streamlit
pandas
plotly
openpyxl
python-dotenv
scikit-learn
scipy
tempfile
dotenv 
numpy
sklearn.linear_model
sklearn.ensemble
sklearn.cluster
sklearn.decomposition
sklearn.preprocessing
sklearn.metrics
scipy
os
json
hashlib
datetime
sqlalchemy
streamlit
plotly.express